# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/test/cms/testdata/content/data/*.json
/test/cms/testdata/content/references/*.json

# misc
.DS_Store

npm-debug.log*
